image: node:latest
 
stages:
  - install
  - test

cache:
  paths:
  - node_modules/

step_install:
  stage: install
  script:
    - npm install
    
step_test:
  stage: test
  script:
    - npm install
    - npm test -- --coverage
